@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');

body{
  font-family: 'Gluten','Gothic A1', cursive;
background-color: ##50630d;
margin: 0;
}
*{
  box-sizing: border-box;
}
h1{
  text-align: center;
  font-size: 5em;

}
td {
  border: 2px solid;
  padding: 0px;
  border-width: 5px;
}
